<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.dao.SysNoticeDao">

    <sql id="select">
        select id,title,type,content,status,createdUser,createdTime,modifiedUser,modifiedTime,remark
        from sys_notices
    </sql>

    <select id="selectNoticeById" resultType="com.cy.domain.SysNotice">
        <include refid="select"></include>
        where id = #{id}
    </select>

    <select id="selectNotices" resultType="com.cy.domain.SysNotice">
        <include refid="select"></include>
        <where>
            <if test="title!=null and title!=''">
                title like concat("%",#{title},"%")
            </if>
            <if test="createdUser!=null and createdUser!=''">
                and createdUser like concat("%",#{createdUser},"%")
            </if>
            <if test="type!=null and type!=''">
                and type like concat("%",#{type},"%")
            </if>
        </where>
    </select>
    
    <delete id="deleteByid">
        delete from sys_notices
        <where>
             <if test="array!=null and array.length!=0">
                id in
            <foreach collection="array" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
            </if>
            or 1=2
        </where>
        
    </delete>

    <insert id="insertNotice" parameterType="com.cy.domain.SysNotice">
        insert into sys_notices (title,type,content,status,createdUser,createdTime,modifiedUser,modifiedTime,remark)
        values
        (#{title},#{type},#{content},#{status},#{createdUser},now(),#{modifiedUser},now(),#{remark})
    </insert>

    <update id="updateNotice" parameterType="com.cy.domain.SysNotice">
        update sys_notices
        set title=#{title},
            content=#{content},
            type=#{type},
            status=#{status},
            modifiedUser=#{modifiedUser},
            modifiedTime=now(),
            remark=#{remark}
        where id=#{id}
    </update>
</mapper>